
<nav mat-tab-nav-bar [tabPanel]="tabPanel" color="accent">
    <a mat-tab-link routerLink="/main" > Főoldal </a>
    
    <a mat-tab-link routerLink="/timetable" > Menetrend </a>
    <a mat-tab-link routerLink="/news" > Hírek </a>
    <a mat-tab-link routerLink="/about" *ngIf="loggedInUser"> Rólunk </a>
    <a mat-tab-link routerLink="/register" *ngIf="!loggedInUser"> Regisztráció </a>
    <a mat-tab-link routerLink="/login" *ngIf="!loggedInUser"> Bejelentkezés </a>
    <a mat-tab-link routerLink="/profile" *ngIf="loggedInUser"> Profil </a>
    <a mat-tab-link routerLink="/main" *ngIf="loggedInUser" (click)="logout()"> Kijelentkezés </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  
