<div class = "container">
<br>
<h1>Üdvözöljük szeged menetrendjének oldalán</h1>
<p>Nézd meg a kedvenc buszod menetrendjét <a routerLink="/timetable">itt</a></p>
<p>Nézd meg a legújabb híreinket <a routerLink="/news">itt</a></p>
<div class = "busratings">
<mat-card>
    <mat-card-header>Top 10 Legkedveltebb busz</mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <th>Helyezés</th>
                <th>Busz</th>
                <th>Likeok</th>
            </tr>
            @for (item of likes_vr; track $index) {
            <tr>
                <td>{{$index+1}}.</td>
                <td>{{item.bus}}</td>
                <td>{{item.likes}}</td>
            </tr>
            }
        </table>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>Top 10 Leggyűlöltebb busz 😈</mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <th>Helyezés</th>
                <th>Busz</th>
                <th>Dislikeok</th>
            </tr>
            @for (item of dislikes_vr; track $index) {
            <tr>
                <td>{{$index+1}}.</td>
                <td>{{item.bus}}</td>
                <td>{{item.dislikes}}</td>
            </tr>
            }
        </table>
    </mat-card-content>
</mat-card>
</div>
</div>